.glitchWrapper {
  position: relative;
  display: inline-block;
}

.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 var(--color-secondary);
  clip: rect(24px, 550px, 90px, 0);
  animation: glitchBefore 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 var(--color-primary);
  clip: rect(85px, 550px, 140px, 0);
  animation: glitchAfter 2.5s infinite linear alternate-reverse;
}

/* Intensidades */
.low .glitch::before,
.low .glitch::after {
  animation-duration: 5s;
}

.medium .glitch::before,
.medium .glitch::after {
  animation-duration: 3s;
}

.high .glitch::before,
.high .glitch::after {
  animation-duration: 1.5s;
}

@keyframes glitchBefore {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
    transform: skew(0.1deg);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
    transform: skew(0.8deg);
  }
  15% {
    clip: rect(42px, 9999px, 73px, 0);
    transform: skew(0.2deg);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
    transform: skew(0.3deg);
  }
  30% {
    clip: rect(86px, 9999px, 73px, 0);
    transform: skew(0.5deg);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
    transform: skew(0.1deg);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
    transform: skew(0.6deg);
  }
  45% {
    clip: rect(60px, 9999px, 85px, 0);
    transform: skew(0.2deg);
  }
  50% {
    clip: rect(10px, 9999px, 45px, 0);
    transform: skew(0.4deg);
  }
  55% {
    clip: rect(50px, 9999px, 70px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(30px, 9999px, 80px, 0);
    transform: skew(0.7deg);
  }
  65% {
    clip: rect(70px, 9999px, 35px, 0);
    transform: skew(0.1deg);
  }
  70% {
    clip: rect(15px, 9999px, 50px, 0);
    transform: skew(0.5deg);
  }
  75% {
    clip: rect(55px, 9999px, 75px, 0);
    transform: skew(0.2deg);
  }
  80% {
    clip: rect(40px, 9999px, 65px, 0);
    transform: skew(0.6deg);
  }
  85% {
    clip: rect(25px, 9999px, 90px, 0);
    transform: skew(0.3deg);
  }
  90% {
    clip: rect(65px, 9999px, 40px, 0);
    transform: skew(0.4deg);
  }
  95% {
    clip: rect(35px, 9999px, 55px, 0);
    transform: skew(0.2deg);
  }
  100% {
    clip: rect(45px, 9999px, 70px, 0);
    transform: skew(0.1deg);
  }
}

@keyframes glitchAfter {
  0% {
    clip: rect(65px, 9999px, 119px, 0);
    transform: skew(0.3deg);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
    transform: skew(0.7deg);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
    transform: skew(0.2deg);
  }
  15% {
    clip: rect(25px, 9999px, 95px, 0);
    transform: skew(0.5deg);
  }
  20% {
    clip: rect(46px, 9999px, 107px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(88px, 9999px, 28px, 0);
    transform: skew(0.6deg);
  }
  30% {
    clip: rect(33px, 9999px, 63px, 0);
    transform: skew(0.3deg);
  }
  35% {
    clip: rect(67px, 9999px, 83px, 0);
    transform: skew(0.8deg);
  }
  40% {
    clip: rect(22px, 9999px, 98px, 0);
    transform: skew(0.2deg);
  }
  45% {
    clip: rect(54px, 9999px, 76px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(71px, 9999px, 45px, 0);
    transform: skew(0.4deg);
  }
  55% {
    clip: rect(18px, 9999px, 102px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(58px, 9999px, 88px, 0);
    transform: skew(0.6deg);
  }
  65% {
    clip: rect(38px, 9999px, 68px, 0);
    transform: skew(0.2deg);
  }
  70% {
    clip: rect(75px, 9999px, 92px, 0);
    transform: skew(0.7deg);
  }
  75% {
    clip: rect(28px, 9999px, 58px, 0);
    transform: skew(0.3deg);
  }
  80% {
    clip: rect(62px, 9999px, 105px, 0);
    transform: skew(0.5deg);
  }
  85% {
    clip: rect(44px, 9999px, 78px, 0);
    transform: skew(0.4deg);
  }
  90% {
    clip: rect(81px, 9999px, 35px, 0);
    transform: skew(0.2deg);
  }
  95% {
    clip: rect(15px, 9999px, 95px, 0);
    transform: skew(0.6deg);
  }
  100% {
    clip: rect(50px, 9999px, 82px, 0);
    transform: skew(0.3deg);
  }
}
